<!DOCTYPE HTML>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/images/splash/splash-icon.png">
<link rel="apple-touch-startup-image" href="static/images/splash/splash-screen.png" 			media="screen and (max-device-width: 320px)" />  
<link rel="apple-touch-startup-image" href="static/images/splash/splash-screen@2x.png" 		media="(max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)" /> 
<link rel="apple-touch-startup-image" sizes="640x1096" href="static/images/splash/splash-screen@3x.png" />
<link rel="apple-touch-startup-image" sizes="1024x748" href="static/images/splash/splash-screen-ipad-landscape" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : landscape)" />
<link rel="apple-touch-startup-image" sizes="768x1004" href="static/images/splash/splash-screen-ipad-portrait.png" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : portrait)" />
<link rel="apple-touch-startup-image" sizes="1536x2008" href="static/images/splash/splash-screen-ipad-portrait-retina.png"   media="(device-width: 768px)	and (orientation: portrait)	and (-webkit-device-pixel-ratio: 2)"/>
<link rel="apple-touch-startup-image" sizes="1496x2048" href="static/images/splash/splash-screen-ipad-landscape-retina.png"   media="(device-width: 768px)	and (orientation: landscape)	and (-webkit-device-pixel-ratio: 2)"/>

<title>Subasta</title>

<link href="static/css/style.css"     		 rel="stylesheet" type="text/css">
<link href="static/css/framework.css" 		 rel="stylesheet" type="text/css">
<link href="static/css/menu.css" 		 	 rel="stylesheet" type="text/css">
<link href="static/css/owl.theme.css" 		 rel="stylesheet" type="text/css">
<link href="static/css/swipebox.css"		 rel="stylesheet" type="text/css">
<link href="static/css/font-awesome.css"	 rel="stylesheet" type="text/css">
<link href="static/css/animate.css"			 rel="stylesheet" type="text/css">


<script type="text/javascript" src="static/js/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="static/js/jqueryui.js"></script>
<script type="text/javascript" src="static/js/framework.plugins.js"></script>
<script type="text/javascript" src="static/js/custom_login.js"></script>

</head>
<body>

<div id="preloader">
	<div id="status">
    	<p class="center-text">
			Cargando...
            <em>Loading depends on your connection speed!</em>
        </p>
    </div>
</div>

<div class="all-elements">
<div id="perspective" class="perspective effect-airbnb"><!--this houses the entire page, and creates the effect-->
    <div class="header">
        <a href="#" id="showMenu"><i class="fa fa-navicon"></i></a>
        <a href="#" id="pageLogo"><img src="static/images/home/logo.png" alt="img"></a>
    </div> 	
    <div class="outer-nav">
        <div class="inner-nav">
            <div class="nav-item">
                <a href="#" class="active-item">
                    <i class="nav-icon fa fa-home"></i>
                    Home
                </a>
            </div>
            <div class="nav-item">
                <a href="viajes" >
                    <i class="nav-icon fa fa-home"></i>
                    Viajes
                </a>
            </div>
            <div class="nav-item">
                <a href="#" class="deploy-nav-sub-item">
                    <i class="nav-icon fa fa-cog"></i>
                    Hoteles
                </a>
                
            </div>
            <div class="nav-item">
                <a href="#" class="deploy-nav-sub-item">
                    <i class="nav-icon fa fa-camera"></i>
                    Ocio y deportes
                </a>
                
            </div>
            <div class="nav-item">
                <a href="#" class="deploy-nav-sub-item">
                    <i class="nav-icon fa fa-picture-o"></i>
                    Moda y belleza
                </a>
                <div class="nav-sub-item">
                    <a href="portfolio-adaptive.html">Adaptive</a>
                    <a href="portfolio-one.html">One Column</a>
                    <a href="portfolio-two.html">Two Columns</a>
                    <a href="portfolio-wide.html">Wide Columns</a>
                </div>
            </div>
            
            <div class="nav-item">
                <a id="closeMenu" href="#">
                    <i class="nav-icon fa fa-times"></i>
                    Cerrar
                </a>
            </div>
        </div>
    </div>
    <div class="perspective_container"><!--the "moving to the left" content box-->
        <div class="wrapper"><!-- wrapper needed for scroll -->
         	<div class="header-clear"><i class="fa fa-times"></i></div>
            <div class="slider-container full-bottom">
                <div class="homepage-slider" data-snap-ignore="true">                
                    <div>
                        <div class="overlay"></div>
                        <div class="homepage-slider-caption">
                            <h3>Swipe me!</h3>
                            <p>Hope you enjoy our latest item!</p>
                        </div>
                        <img src="static/images/slider/hoteles_ww.png" class="responsive-image" alt="img">
                    </div>
                    <div>
                        <div class="overlay"></div>
                        <div class="homepage-slider-caption">
                            <h3>Slider</h3>
                            <p>Our slider is awesome!</p>
                        </div>
                        <img src="static/images/slider/torre_ww.png" class="responsive-image" alt="img">
                    </div>
                    <div>
                        <div class="overlay"></div>
                        <div class="homepage-slider-caption">
                            <h3>Responsive</h3>
                            <p>And it's fully responsive!</p>
                        </div>
                        <img src="static/images/slider/iniesta_ww.png" class="responsive-image" alt="img">
                    </div>
                </div>
            </div>
            <div class="content">
            	<div class="page-heading container">
                    <p>
						Bienvenido a la subasta silenciosa para recaudar fondos benéficos para la lucha contra el cáncer.
                    </p>
                </div>    
                <div class="decoration"></div>        
            </div>
            <div class="content-strip">
                <h4>Productos</h4>
                <p>The things we love to do, for you!</p>
                <i class="fa fa-star-o"></i>
                <div class="overlay"></div>
                <img src="static/images/home/fondo_productos_w.jpg" alt="img">
            </div>
            <div class="content">
            	<div class="decoration"></div>
                <div class="container no-bottom">
                    <div class="one-half-responsive">
                        <p class="thumb-left no-bottom">
                            <img src="static/images/home/asesino_s.png" alt="img">
                            <strong>Responsive Template</strong>
                            <em><br>Lorem Ipsum is simply dummy text of the printing and types. </em>
                        </p>
                        <div class="thumb-clear"></div>
                    </div>
                    <div class="decoration hide-if-responsive"></div>
                    <div class="one-half-responsive last-column">        
                        <p class="thumb-right no-bottom">
                            <img src="static/images/home/coche_s.png" alt="img">
                            <strong>CSS3 Designed</strong>
                            <em><br>Lorem Ipsum is simply dummy text of the printing and types. </em>
                        </p>
                        <div class="thumb-clear"></div>
                    </div>
                    <div class="decoration hide-if-responsive"></div>
                    <div class="one-half-responsive">
                        <p class="thumb-left no-bottom">
                            <img src="static/images/home/cosmeticos_s.png" alt="img">
                            <strong>Mobile and Tablet</strong>
                            <em><br>Lorem Ipsum is simply dummy text of the printing and types. </em>
                        </p>
                        <div class="thumb-clear"></div>
                    </div>
                    <div class="decoration hide-if-responsive"></div>
                    <div class="one-half-responsive last-column">        
                        <p class="thumb-right no-bottom">
                            <img src="static/images/home/vela_s.png" alt="img">
                            <strong>Fast Loading</strong>
                            <em><br>Lorem Ipsum is simply dummy text of the printing and types. </em>
                        </p>
                        <div class="thumb-clear"></div>
                    </div>
                </div>
			</div>
            
           
           
            <div class="content">
                <div class="decoration"></div>        
            </div>
            <div class="footer-section">
                <p class="footer-text">
                    Copyright 2014.<br>
                    All rights reserved.
                </p>
                <div class="footer-icons">
                    <a href="#" class="footer-facebook-icon"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="footer-google-icon"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="footer-twitter-icon"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="footer-up-icon"><i class="fa fa-angle-up"></i></a>
                </div>
            </div>
        
        </div><!-- wrapper -->
    </div><!-- /perspective container -->
</div><!-- /perspective -->

</div>

<script type="text/javascript" src="static/js/menu.js"></script>
<script type="text/javascript" src="static/js/reconnecting-websocket.min.js"></script>
<script type="text/javascript" src="static/js/application.js"></script>

</body>
</html>




