<!DOCTYPE HTML>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/images/splash/splash-icon.png">
<link rel="apple-touch-startup-image" href="static/images/splash/splash-screen.png" 			media="screen and (max-device-width: 320px)" />  
<link rel="apple-touch-startup-image" href="static/images/splash/splash-screen@2x.png" 		media="(max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)" /> 
<link rel="apple-touch-startup-image" sizes="640x1096" href="static/images/splash/splash-screen@3x.png" />
<link rel="apple-touch-startup-image" sizes="1024x748" href="static/images/splash/splash-screen-ipad-landscape" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : landscape)" />
<link rel="apple-touch-startup-image" sizes="768x1004" href="static/images/splash/splash-screen-ipad-portrait.png" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : portrait)" />
<link rel="apple-touch-startup-image" sizes="1536x2008" href="static/images/splash/splash-screen-ipad-portrait-retina.png"   media="(device-width: 768px)	and (orientation: portrait)	and (-webkit-device-pixel-ratio: 2)"/>
<link rel="apple-touch-startup-image" sizes="1496x2048" href="static/images/splash/splash-screen-ipad-landscape-retina.png"   media="(device-width: 768px)	and (orientation: landscape)	and (-webkit-device-pixel-ratio: 2)"/>

<title>Viajes</title>

<link href="static/css/style.css"     		 rel="stylesheet" type="text/css">
<link href="static/css/framework.css" 		 rel="stylesheet" type="text/css">
<link href="static/css/menu.css" 		 	 rel="stylesheet" type="text/css">
<link href="static/css/owl.theme.css" 		 rel="stylesheet" type="text/css">
<link href="static/css/swipebox.css"		 rel="stylesheet" type="text/css">
<link href="static/css/font-awesome.css"	 rel="stylesheet" type="text/css">
<link href="static/css/animate.css"			 rel="stylesheet" type="text/css">

<script type="text/javascript" src="static/js/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="static/js/jqueryui.js"></script>
<script type="text/javascript" src="static/js/framework.plugins.js"></script>
<script type="text/javascript" src="static/js/custom.js"></script>

</head>
<body>

<div id="preloader">
	<div id="status">
    	<p class="center-text">
			Loading the content...
            <em>Loading depends on your connection speed!</em>
        </p>
    </div>
</div>

<div class="all-elements">
<div id="perspective" class="perspective effect-airbnb"><!--this houses the entire page, and creates the effect-->
    <div class="header">
        <a href="#" id="showMenu"><i class="fa fa-navicon"></i></a>
        <a href="#" id="pageLogo"><img src="static/images/home/logo.png" alt="img"></a>
    </div> 	
    <div class="outer-nav">
        <div class="inner-nav">
            <div class="nav-item">
                <a href="/" >
                    <i class="nav-icon fa fa-home"></i>
                    Home
                </a>
            </div>
            <div class="nav-item">
                <a href="viajes" class="active-item">
                    <i class="nav-icon fa fa-home"></i>
                    Viajes
                </a>
            </div>
            <div class="nav-item">
                <a href="#" class="deploy-nav-sub-item">
                    <i class="nav-icon fa fa-cog"></i>
                    Hoteles
                </a>
                
            </div>
            <div class="nav-item">
                <a href="#" class="deploy-nav-sub-item">
                    <i class="nav-icon fa fa-camera"></i>
                    Ocio y deportes
                </a>
                
            </div>
            <div class="nav-item">
                <a href="#" class="deploy-nav-sub-item">
                    <i class="nav-icon fa fa-picture-o"></i>
                    Moda y belleza
                </a>
                <div class="nav-sub-item">
                    <a href="portfolio-adaptive.html">Adaptive</a>
                    <a href="portfolio-one.html">One Column</a>
                    <a href="portfolio-two.html">Two Columns</a>
                    <a href="portfolio-wide.html">Wide Columns</a>
                </div>
            </div>
            
            <div class="nav-item">
                <a id="closeMenu" href="#">
                    <i class="nav-icon fa fa-times"></i>
                    Cerrar
                </a>
            </div>
        </div>
    </div>
    <div class="perspective_container"><!--the "moving to the left" content box-->
        <div class="wrapper"><!-- wrapper needed for scroll -->
         	<div class="header-clear"><i class="fa fa-times"></i></div>

			<div class="content">
            	<div class="decoration"></div>
                <div class="portfolio-one">
                    <div class="portfolio-one-item full-bottom">
                        <div class="portfolio-one-image">
                            <a href="static/images/viajes/newyork.png" class="swipebox" title="Caption Here">
                                <i class="fa fa-plus"></i>
                            </a>
                            <img src="static/images/viajes/newyork.png" class="responsive-image">
                        </div>
                        <div class="portfolio-one-text">
                            <h3 class="title">Nueva york</h3>
                            <em class="subtitle">Viaje de dos personas</em>
                            <div class="portfolio-one-details">
                                <a href="" id_prod="ny" value="50">50€</a>
                                <a  href="" id_prod="ny" value="100">100€</a>
                                <a  href="" id_prod="ny" value="200">200€</a>
                            </div>
                            <p class="half-bottom">
                                Dale alas a los médicos que investigan para llevarte un VIAJE DE IDA Y VUELTA MADRID-NEW YORK para DOS PERSONAS.  
                                *Sujeto a disponibilidad clase turista con una validez de tres meses desde la entrega
                            </p>            
                            <div class="portfolio-one-links">
                                <div class="static-notification-green tap-nodismiss-notification">
                                    <p class="center-text uppercase">
                                        <span id="update-ny" style="display: none;">Apuesta actualizada</span>
                                        <span id="ny">100€</span>
                                    </p>
                                </div>
                                <div class="static-notification-red tap-nodismiss-notification" id="alert-ny" style="display: none;">
                                    <p class="center-text uppercase" >Lo sentimos, la apuesta se a actualizado</p>
                                </div>
                            </div> 
                        </div>       
                    </div>
                    <div class="decoration"></div>
                    <div class="portfolio-one-item full-bottom">
                        <div class="portfolio-one-image">
                            <a href="static/images/pictures/5.jpg" class="swipebox" title="Caption Here">
                                <i class="fa fa-plus"></i>
                            </a>
                            <img src="static/images/pictures/5.jpg" class="responsive-image">
                        </div>
                        <div class="portfolio-one-text">
                            <h3 class="title">Velero tortola</h3>
                            <em class="subtitle">Alquiler de vela</em>
                            <div class="portfolio-one-details">
                                <a href="#">50€</a>
                                <a href="#">100€</a>
                                <a href="#">200€</a>
                            </div>
                            <p class="half-bottom">
                                Lorem ipsum dolor sit amet, consectetur est adipiscing elit. Pellentesque lacus ex, 
                                sollid um facilisis elementum quis, vulputate nec urna. In scelerisque tincidunt 
                                enim, eutsmax. 
                            </p>            
                            <div class="portfolio-one-links">
                                <div><i class="fa fa-arrow-right"></i> 100€</div>
                            </div> 
                        </div>       
                    </div>
                    <div class="decoration"></div>

                    <div class="portfolio-one-item full-bottom">
                        <div class="portfolio-one-image">
                            <a href="static/images/pictures/5.jpg" class="swipebox" title="Caption Here">
                                <i class="fa fa-plus"></i>
                            </a>
                            <img src="static/images/pictures/5.jpg" class="responsive-image">
                        </div>
                        <div class="portfolio-one-text">
                            <h3 class="title">Autobus Esteban Rivas</h3>
                            <em class="subtitle">Alquiler de autobus</em>
                            <div class="portfolio-one-details">
                                <a href="#">50€</a>
                                <a href="#">100€</a>
                                <a href="#">200€</a>
                            </div>
                            <p class="half-bottom">
                                Lorem ipsum dolor sit amet, consectetur est adipiscing elit. Pellentesque lacus ex, 
                                sollid um facilisis elementum quis, vulputate nec urna. In scelerisque tincidunt 
                                enim, eutsmax. 
                            </p>            
                            <div class="portfolio-one-links">
                                <a href="#"><i class="fa fa-arrow-right"></i> Visit Project</a>
                            </div> 
                        </div>       
                    </div>
                    <div class="decoration"></div>
                </div>
    		</div>

            <div class="footer-section">
                <p class="footer-text">
                    Copyright 2014.<br>
                    All rights reserved.
                </p>
                <div class="footer-icons">
                    <a href="#" class="footer-facebook-icon"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="footer-google-icon"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="footer-twitter-icon"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="footer-up-icon"><i class="fa fa-angle-up"></i></a>
                </div>
            </div>
        
        </div><!-- wrapper -->
    </div><!-- /perspective container -->
</div><!-- /perspective -->

</div>

<script type="text/javascript" src="static/js/menu.js"></script>
<script type="text/javascript" src="static/js/reconnecting-websocket.min.js"></script>
<script type="text/javascript" src="static/js/application.js"></script>

</body>
</html>




















